<?xml version="1.0"?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mfgeoip>
            <cloudflare>
                <cloudflare_ip_enable>1</cloudflare_ip_enable>
            </cloudflare>
            <developer>
                <allow_ips/>
                <simulate_country/>
            </developer>
        </mfgeoip>
    </default>
</config>
