<?xml version="1.0"?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magefan" sortOrder="110" translate="label">
            <label>Magefan Extensions</label>
        </tab>
        <section id="mfgeoip" translate="label" sortOrder="10413272670" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>GeoIP Database</label>
            <tab>magefan</tab>
            <resource>Magefan_GeoIp::geo_ip</resource>
            <group id="geoip" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GeoIP Database</label>
                <attribute type="expanded">1</attribute>
                <field id="version" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Magefan\GeoIp\Block\Adminhtml\System\Config\Form\Info</frontend_model>
                </field>
                <field id="ip_location" translate="label comment" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Magefan\GeoIp\Block\Adminhtml\System\Config\Form\IpInfo</frontend_model>
                </field>
            </group>

            <group id="update_geoip" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>MaxMind GeoIP Database</label>
                <attribute type="expanded">1</attribute>
                <field id="maxmind" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Magefan\GeoIp\Block\Adminhtml\System\Config\Form\MaxMindInfo</frontend_model>
                </field>
                <field id="key" translate="label comment" type="text" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>License Key (optional)</label>
                    <comment><![CDATA[
                           Enter <a title="Generate a License Key" target="_blank" rel="nofollow noopener" href="https://support.maxmind.com/hc/en-us/articles/4407111582235-Generate-a-License-Key">MaxMind License Key</a> and save config to update the MaxMind GeoIP Database directly from MaxMind and not via the Magefan server.
                        ]]>
                    </comment>
                </field>
                <field id="listbutton" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Magefan\GeoIp\Block\Adminhtml\System\Config\Form\Button</frontend_model>
                </field>
            </group>
            <group id="cloudflare" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>CloudFlare IP Geolocation</label>
                <attribute type="expanded">1</attribute>
                <field id="cloudflare_check" translate="label comment" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Magefan\GeoIp\Block\Adminhtml\System\Config\Form\CloudflareCheck</frontend_model>
                </field>
                <field id="cloudflare_ip_enable" translate="label comment" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable CloudFlare IP Geolocation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[
                           <div id="enable_cloudflare_ip" style="display:none;"><strong>Attention!</strong> This option will be ignored as you do not use <a href="https://www.cloudflare.com/" target="_blank">Cloudflare</a> for the website or <a href="https://support.cloudflare.com/hc/en-us/articles/200168236-What-does-Cloudflare-IP-Geolocation-do-" target="_blank">IP Geolocation</a> is disabled in your Cloudflare account.
                            <br/>
                            <strong><em>Note that without this option GeoLocation detection also works properly.</em></strong></div>
                        ]]>
                    </comment>
                </field>
            </group>

            <group id="developer" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Developer (Simulate Geolocation)</label>
                <attribute type="expanded">1</attribute>
                <field id="allow_ips" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Allowed IPs (comma separated)</label>
                </field>
                <field id="simulate_country" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Simulate Country</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <comment><![CDATA[
                           Developers with allowed IPs will be recognized as visitors from this country.
                        ]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
